:root {
  --header-color: #212121;
  --first-btn-color: #757575;
  --second-btn-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  background: #e5e5e5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*--------- HEADER  --------------------------*/

.header {
  background-color: #ffffff;
}

.header-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-email {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-btn-color);
}

.header-email:hover,
.header-email:focus {
  color: var(--accent-color);
}

.header-tel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-btn-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* --------------------HERO---------------------- */

.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1/36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-btn-color);
  background: var(--accent-color);
}

/* -----------FEATURE---------------- */

.feature {
  background: #e5e5e5;
}

.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------ABOUT------------------ */

.about {
  background: #e5e5e5;
}

.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/* ----------------TEAM----------------- */

.team {
  background: #f5f4fa;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-img-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-img-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------NAV---------------------------- */

.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/* -------------PORTFOLIO--------------- */

.portfolio-img-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.portfolio-img-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ----------FOOTER--------------------- */

.footer {
  background: #2f303a;
}

.footer-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-maps {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
}

.footer-email {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
